<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master}">

<body>
<!-- Insert content into the layouts/master.html -->
<th:block layout:fragment="content">
    <div class="row row-cards-pf">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Page header - A Form with errors</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" id="form" name="form" role="form" th:object="${formEntityForm}" action="form" method="post">
                    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                        <div th:each="e : ${#fields.errors('*')}" class="row">
                            <span class="pficon pficon-error-circle-o"></span>
                            <span th:text="${e}">Some error</span>
                        </div>
                    </div>
                    <input type="hidden" id="version" value="9" th:field="*{id}" />
                    <div class="form-group has-error has-feedback">
                        <label for="notNull" class="col-sm-2 control-label">Not Null</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="notNull" name="notNull" th:field="*{notNull}"/>
                        </div>
                    </div>
                    <div class="form-group has-warning">
                        <label for="moreThanOrEqual10" class="col-sm-2 control-label">Min(10)</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="moreThanOrEqual10" name="moreThanOrEqual10" placeholder="10" th:field="*{moreThanOrEqual10}"/>
                        </div>
                    </div>
                    <div class="form-group required has-success">
                        <label for="lessThanOrEqual100" class="col-sm-2 control-label">Max(100)</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lessThanOrEqual100" name="lessThanOrEqual100" placeholder="100" th:field="*{lessThanOrEqual100}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sizeBetween6and10" class="col-sm-2 control-label">Between 6 and 10 <span style="color:red;">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="sizeBetween6and10" required="true" placeholder="8" th:field="*{sizeBetween6and10}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="futureDate" class="col-sm-2 control-label">Future</label>
                        <div class="col-sm-10">
                            <div class="input-group date" id="date-future">
                                <input type="text" class="form-control bootstrap-datepicker" readonly="true" id="futureDate" th:field="*{futureDate}"/>
                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pastDate" class="col-sm-2 control-label">Past</label>
                        <div class="col-sm-10">
                            <div class="input-group date" id="date-past">
                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                <input type="text" class="form-control bootstrap-datepicker" readonly="true" id="pastDate" th:field="*{pastDate}"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"/> Remember me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../js/bootstrap-datepicker.js"></script>
    <script>
  $(document).ready(function() {
        // Select the correct menu
        $("#form-menu").addClass( "active");

        // Initialize the vertical navigation
        $().setupVerticalNavigation(true);

        // Initialize Popovers
        $(document).ready(function() {
        $('[data-toggle=popover]').popovers()
        });

        $('#date-future').datepicker({
            autoclose: true,
            orientation: "bottom left",
            startDate: '+1d',
            todayBtn: "linked",
            todayHighlight: true
        });
        $('#date-past').datepicker({
            autoclose: true,
            orientation: "bottom left",
            endDate: '-1d',
            todayBtn: "linked",
            todayHighlight: true
        });
        $('#form').validator();
  });
</script>

</th:block>
</body>
</html>
