<!DOCTYPE html>
<html class="login-pf" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
    <title>Admin Dashboard</title>

    <!-- PatternFly Styles -->
    <link href="../css/patternfly.min.css" rel="stylesheet" media="screen, print"/>
    <link href="../css/patternfly-additions.min.css" rel="stylesheet" media="screen, print"/></head>
<body>
<span id="badge">
  <img src="../img/logo-alt.svg" alt="logo" />
</span>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="brand">
                <img src="../img/brand-alt.svg" alt="PatternFly Enterprise Application"/>
            </div><!--/#brand-->
        </div><!--/.col-*-->
        <div class="col-sm-7 col-md-6 col-lg-5 login">
            <div th:if="${error.present}">
                <p>The email or password you have entered is invalid, try again.</p>
            </div>
            <form class="form-horizontal" role="form" action="/login" method="post">
                <div class="form-group">
                    <label for="username" class="col-sm-2 col-md-2 control-label">Username</label>
                    <div class="col-sm-10 col-md-10">
                        <input name="username" type="text" class="form-control" id="username" autofocus="1" placeholder="" tabindex="1"/>
                    </div>
                </div>
                <div class="form-group" >
                    <label for="inputPassword" class="col-sm-2 col-md-2 control-label">Password</label>
                    <div class="col-sm-10 col-md-10">
                        <input name="password" type="password" class="form-control" id="inputPassword" placeholder="" tabindex="2"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-8 col-sm-offset-2 col-sm-6 col-md-offset-2 col-md-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="remember-me" tabindex="3"/> Remember username
                            </label>
                        </div>
                        <span class="help-block"> Forgot <a href="#" tabindex="5">username</a> or <a href="#" tabindex="6">password</a>?</span>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 submit">
                        <button type="submit" class="btn btn-primary btn-lg" tabindex="4">Log In</button>
                    </div>
                </div>
            </form>
        </div><!--/.col-*-->
        <div class="col-sm-5 col-md-6 col-lg-7 details">
            <p><strong>Welcome to the Dashboard use admin/admin for demo</strong><br/>
                This is placeholder text, only. Try admin/admin for login or me/me for a simple user login
                Use this area to place any information or introductory message about your application that may be relevant for users.
                For example, you might include news or information about the latest release of your product here&mdash;such as a version number.
            </p>
        </div><!--/.col-*-->
    </div><!--/.row-->
</div><!--/.container-->


<script src="../js/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../js/bootstrap.min.js"></script>
<!-- PatternFly -->
<script src="../js/patternfly.min.js"></script>
<!-- match height -->
<script src="../js/jquery.matchHeight-min.js"></script>

<script src="../js/dashboard.js"></script>

</body>
</html>